/* SearchFilter.module.css */
.searchContainer {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.searchInput:focus {
    border-color: saddlebrown;
    border-width: thin;
    border-style: groove;
}
